body.home-page{
    background-color: white;
    transition: background-color 300ms linear 150ms;

}


#background{
    background-size: cover !important;
}


.shop{
    position: relative;
}

#main-face {
    position: relative;
    z-index: -1;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 550px;
    background-color: rgb(247, 245, 244);
    color: white;
    font-family: "Poppins", sans-serif;
}

.bg-mainface{
    position: absolute;
    background-repeat: no-repeat;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-image: url(../images/black-white-clock.jpg);
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-position: 50% 60%;
}

.bg-mainface-overlay{
    background-color: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
}

.intro-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    z-index: 1;
    margin-left: 225px;
}

.intro-content *{
    width: 100%;
    /* display: flex; */
    margin-bottom: 0.5em;
}

#main-face h6{
    font-size: .85em;
    opacity: .8;
}
#main-face h1{
    font-size: 350%;
}

#main-face p{
    font-family: "Lato", sans-serif;
    font-size: 17px;
}

.main-face-contant{
    width: 100%;
    display: flex;
}

.products-section {
    display: flex;
    margin: 25px 299px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.product-image{
    width: 300px;
    height: 330px;
}


#shop-title{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}


#star-icon{
    background-color: #E95933;
    color: white;
    border-radius: 50%;
    font-size: 40px;
}

#shop-decoration{
    display: flex;
    margin: 0 225px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

#shop-decoration b{
    display: block;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}


